# Build / install / logs
build/
install/
log/

# Common
*.log
*.lock
*.db
__pycache__/
*.pyc
.vscode/
*.swp
.DS_Store
*.egg-info/

# Colcon / CMake
CMakeCache.txt
CMakeFiles/

frames_2026-04-24_20.10.52.pdf
frames_2026-04-24_20.10.52.gv
.codex
