<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="legacy_pkg">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import legacy_pkg urdf file -->
    <xacro:include filename="$(find legacy_pkg)/urdf/legacy.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="legacy_pkg.ros2_control.xacro" />


    <xacro:legacy_pkg_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
