<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="New_URDF">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import New_URDF urdf file -->
    <xacro:include filename="$(find ROAR_pkg)/urdf/New_URDF.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="New_URDF.ros2_control.xacro" />


    <xacro:New_URDF_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
